<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Sharing</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-200 h-100 p-3 mx-auto flex-column">

    <header class="mb-auto">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="float-md-start mb-0">Code Sharing Platform</h3>
                </div>
            </div>
        </div>
    </header>

    <main class="px-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Share your code.</h1>
                </div>
            </div>
            <div class="row">
                <p class="lead">There is a lot of collaboration in programming: many projects require sharing your code with other developers.<br> I created my own simple version of a code-sharing platform.</p>
                <p class="lead">
                    <a href="/code/new" class="btn btn-lg btn btn-outline-dark fw-bold border-white bg-white">
                        Try it.
                    </a>
                </p>
                <p class="lead">
                    <a href="/code/latest" class="btn btn-lg btn btn-outline-dark fw-bold border-white bg-white">
                        Show latest code.
                    </a>
                </p>
            </div>
        </div>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Source code of this by link <a href="https://github.com/ValeriaPiont/Code-Sharing-Platform" class="text-white">on GitHub</a>.</p>
    </footer>

</div>
</body>

</html>